@use "base/mixins" as m;
@use "base/variables" as v;

.repartidores {
  padding: v.$separacion 0;

  &__titulo {
    color: v.$secundario;
  }

  &__grid {
    @include m.tablet {
      @include m.grid(2, v.$separacion);
    }
  }

  &__contenido {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  &__texto {
    line-height: 1.5;
    font-size: 1.8rem;
    color: v.$secundario;
  }

  &__boton {
    @include m.boton(v.$primario, v.$blanco);
  }
}
